# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df["date"]=  pd.to_datetime(df["date"], format='%Y-%m-%d')

df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [ ]:
# Set the date column as the DataFrame index

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [ ]:
# Filter data for desired months

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis